/* fonts */

body, p{
  font-family: 'Domine', serif;
}

p{
  line-height: 1.8;
}

h1,h2,h3{
  font-family:'Roboto Slab';
}

h4,h5{
  font-family: 'Montserrat', sans-serif;
}

/* header related */

 .custom-head-wrapper{
   margin-left: 15px;
   margin-right: 15px;
   background-color: #fbfbfb;
   border-bottom: 0;
   border-top: 0;
 }

 .site-header{
   border-bottom: 0;
   border-top: 0;
   color: white;
   background-color: #333;
 }

.site-title, .site-title:visited {
  font-family: 'Roboto Slab', serif;
  color: #fff;
}

.site-nav .page-link {
  color: white;
  font-family: 'Montserrat'
}

.site-nav .page-link {
  color: white;
}

.site-nav .page-link:last-child:hover{
  text-decoration: none;
}

@media screen and (max-width: 600px){
  .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #222;
      border: 0px;
      border-radius: 5px;
      text-align: right;
      z-index: 1000;
  }
}
 /* container-related */

.post-link-title{
  margin-bottom: 0px;
}

.post-link{
  font-size: 1rem;
}
